<div style="padding-left: 350px;">
    <div class="card" style="width:60%;" >
        <div class="card-header cardHeader">
            Register
         </div>
        <div class="card-body">
            
            <br>
            <div class="form-row">
                <!-- <label for="driverLicense">Please Enter State ID/ Drivers License number</label> -->
                <input type="text" class="form-control" required placeholder="Username" #userName >
                
            </div><br>
      
            <div class="form-row">
                <input type="password" class="form-control" required placeholder="Password" #userPassword>
            </div><br>
            
            <div class="form-row">
                <input type="button" class="btn btn-primary btn-block" value="Register"
                  (click)="ngAuthService.SignUp(userName.value, userPassword.value)">
              </div>
        
    
    
        </div>
    </div>
    
    <br>
    <div class="redirectToLogin">
        <span>Already Registered ?<span class="redirect" routerLink="/sign_in"> &nbsp;<u>Login</u></span></span>
      </div>
    </div>
    